export DEPLOYER_PRIVATE_KEY=0x2862c91d8c72e7ad040cf0f28416a79d7c5e6cd5b4110813fdfafc40991b0c1e

export INFURA_RPC_ID=cf4f68a2648c42159c880252a44f923b

export ETHERSCAN_API_KEY=R75UHS81WZ98M96TT3AM5Q1YA2XA7ZFGI4
export ETHERSCAN_OPTIMISM_API_KEY=BYGQ4AAF674PQMKHFDJY3Y2M5H8DXU3RZS
export ETHERSCAN_POLYGON_API_KEY=YCH3A5WITN2TG8FK72TF41B6Z5PC45EGFY
export ETHERSCAN_ARBITRUM_API_KEY=MGRPIY1U88CWU39HQ64I69247EXW4NEVJ3

export SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/cf4f68a2648c42159c880252a44f923b
export OPGOERLI_RPC_URL=https://optimism-goerli.infura.io/v3/cf4f68a2648c42159c880252a44f923b
export OP_RPC_URL=https://optimism-mainnet.infura.io/v3/cf4f68a2648c42159c880252a44f923b
export OP_SEPOLIA_URL=https://optimism-sepolia.infura.io/v3/cf4f68a2648c42159c880252a44f923b
export BASE_MAINNET_RPC_URL=https://base-mainnet.g.alchemy.com/v2/_UEtzcgcBuFnJA4IT5aOLUrL5Fnkkv7F
export BASE_SEP_RPC_URL=https://base-sepolia.g.alchemy.com/v2/xPhGgTCvxT2nRRxZLkA34jVqkTNXBA1F
export POLYGON_MUMBAI_RPC_URL=https://polygon-mumbai.infura.io/v3/cf4f68a2648c42159c880252a44f923b

export AAVE_V3_LENDING_POOL_POLYGON=0xcC6114B983E4Ed2737E9BD3961c9924e6216c704
export AAVE_V3_REWARDS_RECIPIENT_POLYGON=0x9B789cc315F1eedFbCBE759DEbb5a3D5D41B788f
export AAVE_V3_REWARDS_CONTROLLER_POLYGON=0xBcEF55508Efb890C71c8a6211B3dE02B00430503

# forge script script/Contract.s.sol:ContractName --rpc-url https://optimism-goerli.infura.io/v3/cf4f68a2648c42159c880252a44f923b --broadcast -vvvv --etherscan-api-key MGRPIY1U88CWU39HQ64I69247EXW4NEVJ3 --verify
# forge test --match-path test/Contract.t.sol --match-test test_TestName -vvvv

# forge script script/Vault.s.sol:DeployVault --broadcast -vvvv --rpc-url $OPGOERLI_RPC_URL --etherscan-api-key $ETHERSCAN_OPTIMISM_API_KEY --verify
# forge test --fork-url $OP_RPC_URL -vvvv --match-path test/fork/MainnetVault.t.sol --match-test test_forkDeposit
# forge test --fork-url $POLYGON_MUMBAI_RPC_URL -vvvv --match-path test/fork/FVault.t.sol --match-test test_forkDeposit
# forge test --fork-url $SEPOLIA_RPC_URL -vvvv --match-path test/fork/FVault.t.sol --match-test test_forkDeposit

# forge script script/Twab.s.sol:DeployTwab --rpc-url $SEPOLIA_RPC_URL --broadcast -vvvv --etherscan-api-key $ETHERSCAN_API_KEY --verify
# forge script script/Twab.s.sol:DeployTwab --rpc-url $POLYGON_MUMBAI_RPC_URL --broadcast -vvvv --etherscan-api-key $ETHERSCAN_POLYGON_API_KEY --verify




